.editor {
  height: 100%;
  width: 100%;

  background-color: #ebebeb;
  overflow: auto;
  position: relative;
}

::ng-deep .geBackgroundPage {
  box-shadow: 0px 0px 3px 0px #d9d9d9;
}


::ng-deep .editor-vertex {
  background: #f6f8fa;
  color: #32363c;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(115,115,115,.8);
}