<div class="app">
  <div class="menu">
    <div class="wrapper">
      <div class="logo">
        <div class="icon"><i class="fas fa-project-diagram"></i></div>
        <div>Process Modeler</div>
      </div>
      <app-menu [(outlineVisible)]="outlineVisible"></app-menu>
    </div>
    <app-toolbar [editor]="editor" [graph]="graph"></app-toolbar>
  </div>
  <div class="content">
    <component-list [graph]="graph"></component-list>
    <editor (graph)="graph = $event" [model]="model" (modelChange)="onModelChange($event)"></editor>
  </div>
</div>
<outline [graph]="graph" [(outlineVisible)]="outlineVisible"></outline>
